<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>HAB Telemtry Visualizer</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <link rel="shortcut icon" href="/assets/img/spexFavicon.png"/>
    <!-- CSS Reset -->
    <link rel="stylesheet" href="/assets/css/normalize.css">

    <!-- Milligram CSS minified -->
    <link rel="stylesheet" href="/assets/css/milligram.min.css">
    <link rel="stylesheet" href="/assets/css/main.css" >
</head>
<body>
    <div id="containerheader" class="container" >
      <div class="row" >
            <div class="column column-40" >
        <h4>RIT Space Exploration</h1>
            </div>
            <a href="/statistics" ><div class="column column-20 column-offset-20 float-right button">
              <p>Statistics</p>
            </div></a>
            <a href="/orientation" ><div class="column column-20 float-right button" >
                <p>Orientation</p>
            </div></a>
      </div>
    </div>
  {{{body}}}
</body>
</html>
