<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/84/three.js"></script>
<script src="/assets/js/utils/loaders/ColladaLoader.js"></script>
<script src="/assets/js/utils/loaders/OBJLoader.js"></script>
<script src="/assets/js/utils/loaders/MTLLoader.js"></script>
<script src="/assets/js/utils/progressbar.min.js"></script>
<script src="/assets/js/sockets/clientSocket.js" ></script>

<script src="/assets/js/display/webGLRenderer.js" ></script>
<div class="row">
    <div class="column column-10">
        <form id="modelChanger">
            <ul>
		<li class="text-centered"><h1>Options</h1></li>
                <li><input type="checkbox" /> Show/Hide Axis</li>
                <li class="text-centered"><h3>Change Model</h3></li>
                <li><input type="radio" name="modelSelect" value="0" /> NASA cubesat</li>
                <li><input type="radio" name="modelSelect" value="1" /> Basic cubesat</li>
            </ul>
        </form>
    </div>
    <div id="modelSpace" class="column column-80" style="padding:0px;"></div>
    <div class="column column-10"></div>
</div>
<style>
    .text-centered { text-align: center; }
	body { margin: 0; }
	#modelSpace { height: 85vh;
		background: url("/assets/img/space.jpg");
		background-size: cover;
		background-repeat:no-repeat;
		 }
	canvas { padding-left: 0;
				padding-right: 0;
				margin-left: auto;
				margin-right: auto;
				display: block; }
	ul { list-style:none; }
</style>
