<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.3/vue.min.js" charset="utf-8"></script>
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <!--<script src="/assets/graphing.js" ></script>-->
    <!--<script src="/assets/clientSocket.js" ></script> -->
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">

    <!-- CSS Reset -->
    <link rel="stylesheet" href="/assets/css/normalize.css">

    <!-- Milligram CSS minified -->
    <link rel="stylesheet" href="/assets/css/milligram.min.css">
    <!-- captures mobile IMU data -->
    <script src="/assets/js/sockets/fakeDataGenerator.js" ></script>
</head>

<body>
<h1>Fake  Data Generator</h1>
<div id = "since_init">Timestamp: <input type="number" id="since_init_Input" min="0" > </div>
<div id = "temp_c">Temperature(C): <input type="range" id="temp_c_Input" min="-40" max="100"></div>
<div id = "pressure">Pressure(MPa): <input type="range" id="pressure_Input" min="0" max="10"></div>
<div id = "alt_m">Altitude(m): <input type="range" id="alt_m_Input" min="-100" max="40000"></div>
<div id = "humidty">Humidity: <input type="range" id="humidty_Input" min="0" max="100"></div>
<div id = "imu_gx">GyroscopeX(deg/sec): <input type="range" id="imu_gx_Input" min="-400" max="400"></div>
<div id = "imu_gy">GyroscopeY(deg/sec): <input type="range" id="imu_gy_Input" min="-400" max="400"></div>
<div id = "imu_gz">Gyroscope(deg/sec): <input type="range" id="imu_gz_Input" min="-400" max="400"></div>
<div id = "imu_ax">AccelerometerX(m/s^2): <input type="range" id="imu_ax_Input" min="-10" max="10"></div>
<div id = "imu_ay">AccelerometerY(m/s^2): <input type="range" id="imu_ay_Input" min="-10" max="10"></div>
<div id = "imu_az">AccelerometerZ(m/s^2): <input type="range" id="imu_az_Input" min="-10" max="10"></div>
<div id = "imu_mx">MagnetometerX(Gauss): <input type="range" id="imu_mx_Input" min="-2" max="2"></div>
<div id = "imu_my">MagnetometerY(Gauss): <input type="range" id="imu_my_Input" min="-2" max="2"></div>
<div id = "imu_mz">MagnetometerZ(Gauss): <input type="range" id="imu_mz_Input" min="-2" max="2"></div>
<div id = "mcp9808">Temperature2(C): <input type="range" id="mcp9808_Input" min="-40" max="100"></div>
<button id = "sendPacket">Send one packet</button>
<button id = "sendContinuousPacket">Send Packets Continously</button>
</body>
</html>
