<div class="container" >
  <div class="row" >
    <div class="column column-50" >
      <div id="tempChart" style="height: 400px;"></div>
    </div>
    <div class="column column-50" >
      <div id="humidtyChart" style="height: 400px;"></div>
    </div>
  </div>
  <div class="row" >
    <div class="column column-50" >
      <div id="altitudeChart" style="height: 400px;"></div>
    </div>
    <div class="column column-50" >
      <div id="accelerometerGraph" style="height: 400px;"></div>
    </div>
  </div>
  <div class="row" >
    <div class="column column-50" >
      <div id="gyroscopeChart" style="height: 400px;"></div>
    </div>
    <div class="column column-50" >
      <div id="magnetometerChart" style="height: 400px;"></div>
    </div>
  </div>
</div>
<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
<script src="/assets/js/display/graphing.js" ></script>
<script src="/assets/js/sockets/clientSocket.js" ></script>
