<h1>Mobile Data Collecter</h1>
<h2 id = "pitch">Pitch: NAN</h2>
<h2 id = "roll">Roll: NAN</h2>
<h2 id = "direction">Direction: NAN</h2>
<!-- captures mobile IMU data -->
<script src="/assets/js/sockets/dataSocket.js" ></script>
<link rel="stylesheet" href="/assets/css/normalize.css">
<link rel="stylesheet" href="/assets/css/milligram.min.css">
