<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.3/vue.min.js" charset="utf-8"></script>
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <!--<script src="/assets/graphing.js" ></script>-->
    <!--<script src="/assets/clientSocket.js" ></script> -->
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">

    <!-- CSS Reset -->
    <link rel="stylesheet" href="/assets/css/normalize.css">

    <!-- Milligram CSS minified -->
    <link rel="stylesheet" href="/assets/css/milligram.min.css">
    <!-- captures mobile IMU data -->
    <script src="/assets/js/sockets/dataSocket.js" ></script>
</head>

<body>
<h1>Mobile Data Collecter</h1>
<h2 id = "pitch">Pitch: NAN</h2>
<h2 id = "roll">Roll: NAN</h2>
<h2 id = "direction">Direction: NAN</h2>
</body>

</html>
