<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/84/three.js"></script>
<script src="/assets/js/utils/loaders/ColladaLoader.js"></script>
<script src="/assets/js/utils/loaders/OBJLoader.js"></script>
<script src="/assets/js/utils/loaders/MTLLoader.js"></script>
<script src="/assets/js/sockets/clientSocket.js" ></script>
<script src="/assets/js/display/webGLRenderer.js" ></script>
<button id="toggleModelBtn">Toggle Between Models</button>
<button id="toggleAxisBtn">Toggle Axis Visibility</button>
<style>
	body { margin: 0; }
	canvas {padding-left: 0;
				padding-right: 0;
				margin-left: auto;
				margin-right: auto;
				display: block; }
</style>
