<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/84/three.js"></script>
<script src="/assets/js/utils/loaders/ColladaLoader.js"></script>
<script src="/assets/js/utils/loaders/OBJLoader.js"></script>
<script src="/assets/js/utils/loaders/MTLLoader.js"></script>
<script src="/assets/js/utils/progressbar.min.js"></script>
<script src="/assets/js/sockets/clientSocket.js" ></script>
<script src="/assets/js/display/solarMeter.js" ></script>
<script src="/assets/js/display/webGLRenderer.js" ></script>
<div class="row">
    <div class="column column-15" style="text-align:center;">
        <form id="modelChanger">
            <ul>
                <li><input type="checkbox" />Toggle Between Models</li>
                <li><input type="radio" name="modelSelect" value="0" />NASA sat</li>
                <li><input type="radio" name="modelSelect" value="1" />Cube sat</li>
            </ul>
        </form>
    </div>
    <div id="modelSpace" class="column column-70"></div>
    <div class="column column-15"></div>
</div>
<style>
	body { margin: 0; }
	canvas {padding-left: 0;
				padding-right: 0;
				margin-left: auto;
				margin-right: auto;
				display: block; }
    ul { list-style:none; }
</style>
